<div class="container">
	<ul class="nav nav-tabs">
		<li class="active">
			<%= link_to "To share",       menu_path %>
		</li>
		<li>
			<%= link_to "Noodles",       menu_path %>
		</li>
		<li>
      <%= link_to "Persies",       menu_path %>
    </li>
		<li>
			<%= link_to "Drinksies",       menu_path %>
		</li>
		<li>
			<%= link_to "Specialties",       menu_path %>
		</li>
	</ul>

	<div class="menu">

		<h2 id="menutitle">Sharesies</h2>
		<span class="price"></span>

		<div class="row">
			<div class="col-sm-4" "col-md-4" "menuitem">

				<h3> Wings <span>$8.99</span></h3>
				<p>
					Original* Buffalo* Spicy Korean*
				</p>

			</div>
			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Crispy Calimari <span>$8.99</span></h3>
				<p>
					Beer battered and served with tartar sauce
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Spicy Calimari <span>$9.99</span></h3>
				<p>
					Beer battered with chopped garlic & jalapenos
				</p>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Spicy Shrimp <span>$9.99</span></h3>
				<p>
					Beer battered with our famous spicy sauce
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Dumplings <span>$6.99</span></h3>
				<p>
					Pan-fried, served with light soy sauce
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Popcorn Chicken <span>$7.99</span></h3>
				<p>
					Beer battered served with spicy mayo
				</p>
			</div>

		</div>

		<div class="row">

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Garlic Edamame <span>$4.99</span></h3>
				<p>
					Stir-fried with chopped garlic & oyster sauce
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Salted Edamame <span>$3.99</span></h3>
				<p>
					Salt drizzled on top
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Bulgogi Tacos (3) <span>$10.99</span></h3>
				<p>
					Grilled Korean marinated beef, cheese, lettuce, onions, fresh salsa & guacamole
				</p>
			</div>

		</div>

		<div class="row">

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Bulgogi Fries <span>$12.99</span></h3>
				<p>
					Grilled Korean marinated beef, cheese, crinkle cut fries, tater tots, fresh salsa & guacamole
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Bulgogi Burrito <span>$8.99</span></h3>
				<p>
					Grilled marinate beef, fresh salsa & guacamole
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Bulgogi Quesadilla <span>$11.99</span></h3>
				<p>
					Grilled Korean marinated beef sandwiched w/ cheese and tortilla
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Spicy Pork Tacos (3) <span>$6.99</span></h3>
				<p>
					Grilled Korean marinated pork, cheese, lettuce, onions, fresh salsa & guacamole
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Bossam <span>$19.99</span></h3>
				<p>
					Traditional steamed underbelly, pickled veggies & house bean paste sauce
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Tofu, Pork & Kimchi <span>$13.99</span></h3>
				<p>
					Steamed tofu with stir-fried kimchi pork
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Ddukbokki <span>$8.99</span></h3>
				<p>
					Rice cake & veggies in spicy sauce </b>Add ramen +$2, Deluxe +$5
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Seared Ahi Tuna Salad <span>$12.99</span></h3>
				<p>
					Fresh sashimi tuna on tossed greens
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Veggie Pancake <span>$10.99</span></h3>
				<p>
					Pan-fried mixed veggies potato pancake
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Kimchi Pancake <span>$10.99</span></h3>
				<p>
					Pan-fried chopped kimchi potato pancake
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Seafood Pancake <span>$12.99</span></h3>
				<p>
					Pan-fried mixed seafood potato pancake
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Egg Omelette <span>$7.99</span></h3>
				<p>
					Pan-fried eggs with veggies
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Corn Cheese <span>$5.99</span></h3>
				<p>
					Melted American cheese on grilled corn
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Sausage & Cheese <span>$9.99</span></h3>
				<p>
					Korean style melted mozzarella cheese, bell peppers served with grilled sausage
				</p>
			</div>

			<div class="col-sm-4" "col-md-4" "menuitem">
				<h3> Mixed Anju <span>$8.99</span></h3>
				<p>
					Assorted dried fish jerky & toasted crackers
				</p>
			</div>
		</div>
		<h2 id="menutitle">Sharesies</h2>
    <span class="price"></span>

    <div class="row">
      <div class="col-sm-4" "col-md-4" "menuitem">

        <h3> Wings <span>$8.99</span></h3>
        <p>
          Original* Buffalo* Spicy Korean*
        </p>
	</div>
	
</div>
