<!DOCTYPE html>
<html>
<head>
  <title>Gastro</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
  <div class="navbar-inner">
    
      <div id="header-logo">
      <%= link_to image_tag('nblogo.jpg'),   '#', id: "logo" %>
      
      
      <div class = "collapse navbar-collapse navHeaderCollapse">
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",      '#' %></li>
            <li><%= link_to "Menu",      '#' %></li>
            <li><%= link_to "About",     '#' %></li>
            <li><%= link_to "VIP",       '#' %></li>
          </ul>
        </nav>
      </div>
      <button class = "navbar-toggle" data-toggle = "collapse"
                      data-target = ".navHeaderCollapse">
        <span class = "icon-bar"></span>            
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
        
      
    
  </div>
  
  <!-- My Carousel
    ============================================================= -->
</body>

<%= yield %>

</html>
